.bgd
{
	background-color: #000000;
}

.jumbotron
{ 
	font-size: 6vw;
	background-color: transparent !important;
	font-family: 'Cabin Sketch', cursive;
	color: #FFFFFF;
}

.display-1
{
	color: #FFFFFF;
	font-family: 'Cabin Sketch', cursive;
	font-size: 6vw !important;
}

.p
{
	color: #FFFFFF;
	font-size: 2vw;
	font-family: 'Amatic SC', cursive;
}

.subhd
{
	color: #FFFFFF;
	font-family: 'Shadows Into Light', cursive;
}

.par
{
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}