.bgd
{
	background: url(../media/loginbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	background-attachment: fixed;
}

.jumbotron
{
	font-size: 6em;
	background-color: transparent !important;
	font-family: 'Cabin Sketch', cursive;
	color: #FFFFFF;
}

.login
{
	background-color: #28A745 !important;
	color: #FFFFFF !important;
	border-color: #FFFFFF !important;
}

.login:hover
{
	background-color: #FFFFFF !important;
	border-color: #28A745 !important;
	color: #28A745 !important;
}