.jumbotron
{
	text-align: center;
	background-color: transparent !important;
	font-family: 'Cabin Sketch', cursive;
	color: #FFFFFF;
	font-size: 6em;
}

.bgd
{
	background: url(../media/mainbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	background-attachment: fixed;
}

.form-control
{
	font-size: 1em;
	align-content: center;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
}

.login
{
	color: #FFFFFF !important;
	border-color: #007BFF !important;
	background-color: #007BFF !important;
	font-family: 'Julius Sans One', sans-serif !important;
	font-weight: bold !important;
}

.signup
{
	color: #FFFFFF !important;
	border-color: #28A745 !important;
	background-color: #28A745 !important;
	font-family: 'Julius Sans One', sans-serif !important;
	font-weight: bold !important;

}

.login:hover
{
	color: #007BFF !important;
	border-color: #007BFF !important;
	background-color: #FFFFFF !important;
}

.signup:hover
{
	color: #28A745 !important;
	border-color: #28A745 !important;
	background-color: #FFFFFF !important;
}

.cus
{
	color: #FFFFFF !important;
	background-color: #6C757D !important;
	border-color: #6C757D !important;
	font-family: 'Julius Sans One', sans-serif !important;
	font-weight: bold !important;
}

.cus:hover
{
	color: #6C757D !important;
	border-color: #6C757D !important;
	background-color: #FFFFFF !important;
}