.bgd
{
	background: url(../media/signupbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	background-attachment: fixed;
}

.jumbotron
{
	background-color: transparent !important;
	font-family: 'Cabin Sketch', cursive !important;
	font-size: 6em;
	color: #FFFFFF !important;
}

.signup
{
	background-color: #007BFF !important;
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}

.signup:hover
{
	 background-color: #FFFFFF !important;
	 border-color: #007BFF !important;
	 color: #007BFF !important;
}